# Backup files
*~
\#*\#
# Emacs directories
auto-save-list/
backups/
elpa/
url/
# Emacs files
ac-comphist.dat
bookmarks
projectile-bookmarks.eld
eshell/history
eshell/lastdir
/saved-places
ido.last
smex-items
